# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
build/
dist/
*.egg-info/
.eggs/

# Virtual environment
venv/
env/
ENV/
.venv/

# VSCode settings
.vscode/

# PyCharm settings
.idea/

# Mac OS
.DS_Store

# Logs
logs/
*.log

# Test reports
.coverage
htmlcov/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Jupyter Notebook
.ipynb_checkpoints

# Environments
.env